<!-- Authors: Miek Menendd, Cass Cabrera
Date: April 4, 2020
Course: CST 205
Description: This is the html to diaplay the individual images that the user clicks on.
 -->

{% extends "base.html" %}
{% block content %}
    <!-- Title Block -->
    <div class="jumbotron text-center shadow mb-5">
        <h1 style="font-style: italic;">{{ info["title"] }}</h1><h1> by {{ info["auth"] }}</h1>
    </div>
    <!-- Image card -->
    <div class="container card mt-5 mb-5 p-5">
        <img class="card-img-top img-rounded img-responsive" src="/static/picture/{{ info["id"] }}">
        <div class="card-body">
            <p class="card-text">Image Mode: {{ info["mode"] }}<br>
                Image Width: {{ info["width"] }}<br>
                Image Height: {{ info["height"] }}<br>
                Image Format: {{ info["format"] }}</p>
            <button onclick="window.location.href = '{{ linky }}'" class="btn btn-primary justify-content-center mt-5">Back to list of images</button>
        </div>
    </div>
{% endblock %}