{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center shadow mb-5">
        <h1>Home Page! Here are 3 Random images:</h1>
    </div>
    {% for i in listy %}
        <div class = "container card p-5 text-center mt-5 mb-5">
            <img src="static/picture/{{ i }}" style="max-width: 100%; height: auto;">
            <button onclick="window.location.href = 'picture/{{ i }}'" class="btn btn-primary justify-content-center mt-5">View Image</button>
        </div>
    {% endfor %}
{% endblock %}